# PHPStorm
/.idea/

# Eclipse
/.settings
/.project
/.buildpath

# Netbeans
/nbproject/

# Build Artifacts
/build/

# Composer
/vendor/

# Phive
/tools/

# PHP built-in server log
/php-server.log

# papaya CMS
/papaya.php
/papaya.sqlite
/htdocs/revision.inc.php
/htdocs/papaya/
/papaya-data/

# Default template and theme
/templates/
/htdocs/papaya-themes/

